Datatypes available in Python - 
1. Numbers -> int and float
2. String
3. List
4. Dictionary
5. Tuple
6. Set
7. Complex Numbers

In [1]:
x = 1 #this is an integer datatype
x = 21.5 #this is a floating datatype
x = 6j #this is a complex number

How to check the datatype of the variable

In [4]:
num1 = 25
print( type( num1 ) )

num2 = 256.36
print( type( num2 ) )


num3 = 5j
print( type( num3 ) )

<class 'int'>
<class 'float'>
<class 'complex'>

Print a variable using formatted string

In [10]:
num1 = 56
num2 = 86.3
print( "Value of num1 =", num1, "Value of num2 is =", num2  )

print( f"Value of num1 = {num1} value of num2 is = {num2}" )

Value of num1 = 56 Value of num2 is = 86.3
Value of num1 = 56 value of num2 is = 86.3

Type Conversion

In [14]:
#convert integer to float
num1 = 12
print( f"Datatype of num1 before conversion - { type( num1 ) } and the value is {num1}" )

num1 = float( num1 )
print( f"Datatype of num1 before conversion - { type( num1 ) } and the value is {num1}" )

Datatype of num1 before conversion - <class 'int'> and the value is 12
Datatype of num1 before conversion - <class 'float'> and the value is 12.0

In [15]:
#convert integer to str
num1 = 12
print( f"Datatype of num1 before conversion - { type( num1 ) } and the value is {num1}" )

num1 = str( num1 )
print( f"Datatype of num1 before conversion - { type( num1 ) } and the value is {num1}" )

Datatype of num1 before conversion - <class 'int'> and the value is 12
Datatype of num1 before conversion - <class 'str'> and the value is 12

In [17]:
#convert float to integer
num1 = 12.6
print( f"Datatype of num1 before conversion - { type( num1 ) } and the value is {num1}" )

num1 = int( num1 )
print( f"Datatype of num1 before conversion - { type( num1 ) } and the value is {num1}" )

Datatype of num1 before conversion - <class 'float'> and the value is 12.6
Datatype of num1 before conversion - <class 'int'> and the value is 12

Take input from user

In [29]:
num1 = int(input( "Enter your first number- " )) #by default the input type in python is string

num2 = float(input( "Enter your second number- " ))

print(f"Value of num1 = {num1} and num2 = {num2}")
num3 = num1 + num2
print(num3)

Value of num1 = 25 and num2 = 12.6

Check the length of string

In [32]:
str1 = "I like to code in python"
len(str1)

24

Check for a word or a sentence in a string

In [34]:
txt = "I like to code in python also I know how to write sql query"

print( "python" in txt )

False

string index

In [59]:
txt = "I like to code in python"
#indexing starts from 0 i.e., the element at position 1 will have index 0 and element at position n will have index n-1
#indexing starts from 0 i.e., the element at index 0 will have position 1 and element at index n will have position n+1
#space is also a character
print( txt[0] ) #this will give the first character of the string
print( txt[4] ) #this will give the 5th character of the string 
print( txt[-1] ) #this will give the last character of the string
print( txt[-5] ) #this will give the 5th last character of the string
print( txt[4:8] ) #this will print all the characters between starting index i.e., 4 & end index - 1 i.e., 7, which means
#characters at index 4, 5, 6, 7 will be printed 
print( txt[7:12] ) #this will print all the characters at index 7, 8, 9, 10, 11
print( txt[5:] ) #this will print all the characters from index 5 to end index
print( txt[:9] ) #this will print all the characters from starting index to 8
print( txt[-5:-2] )#this will print character from last 5th position till last 3rd position i.e., 
#you'll get characters from -5, -4, -3
print( txt[::-1] ) #this will reverse the string

I
k
n
y
ke t
to co
e to code in python
I like to
yth
nohtyp ni edoc ot ekil I

In [58]:
print( txt[::2] )

Ilk ocd npto

Modification of string

In [70]:
txt = "pyTHon is a interpreted language"

print( txt.upper() ) #this will convert the string to upper case
print( txt.lower() ) #this will convert the string to lower case
print( txt.capitalize() ) #this will capitalize the first character of the string

PYTHON IS A INTERPRETED LANGUAGE
python is a interpreted language
Python is a interpreted language

Remove whitespaces from string

In [80]:
txt = "      Python is a language      "

print( f"Before Strip--> On left of txt <-{txt}->on right of txt" )
print( f"After Strip--> On left of txt <-{txt.strip()}->on right of txt" ) #strip method will remove the spaces from left and right of the senetence
print( f"After Strip--> On left of txt <-{txt.lstrip()}->on right of txt" )#lstrip method will remove the spaces from left of the senetence
print( f"After Strip--> On left of txt <-{txt.rstrip()}->on right of txt" )#rstrip method will remove the spaces from right of the senetence
#use lstrip() and rstrip()

Before Strip--> On left of txt <-      Python is a language      ->on right of txt
After Strip--> On left of txt <-Python is a language->on right of txt
After Strip--> On left of txt <-Python is a language      ->on right of txt
After Strip--> On left of txt <-      Python is a language->on right of txt

Replace a character or set of characters from a string

In [86]:
txt = "Hello World, How are you? Honda"

#replace H wil J

print( txt.replace("H", "J") ) #this will replace all the H with J

print( txt.replace("Hello", "Hi"))

print( txt.replace("H", "J", 2)) #this will replace first 2 occurences of H with J

Jello World, Jow are you? Jonda
Hi World, How are you? Honda
Jello World, Jow are you? Honda