Split the list

In [1]:
str1 = "Hello World How are you?"
# "Hello", "World", "How", "are", "you?"

str1.split() #by default if no separator paramter is passed then the list will get split from spaces

['Hello', 'World', 'How', 'are', 'you?']

In [6]:
str1 = "Aman,Developer,50000,24"

str1.split(",")

['Aman', 'Developer', '50000', '24']

In [25]:
num1 = input("Enter the two numbers").split()

In [26]:
num1

['85', '96']

Arrays - a collection of items having same datatype

1. Lists - is one of the 4 bulit in dataypes that is used to store multiple items in a single variable or used to store collection of data
2. List can store any type of data in it or mixed datatypes as well
3. List is ordered.
4. List is mutable i.e., we can manipulate the items in the list
5. List allows duplicate items in it

In [34]:
#Point 1
fruits = [ "Apple", "Banana", "Mango" ]

#Point 2
int_list = [ 1, 2, 3, 4, 5, 6 ]
float_list = [ 12.5, 2.5, 5.7, 6.9, 6.3 ]
list_list = [ "Apple", "Banana", "Mango" ]
mixed_list = [ 1, 3, 5, 6.7, 8.9, 9.1, "Mango", "Banana", True ]

#Point 3
ord_list = [ 6, 7, 2, "Apple", "Banana" ]

'Apple'

In [35]:
#Point 4
list_list = [ "Apple", "Banana", "Mango" ]

print(f"List before manipulation = {list_list}")
list_list[0] = "Cherry" #this means item at index 0 will be replaced with Cherry

print(f"List after manipulation = {list_list}")

List before manipulation = ['Apple', 'Banana', 'Mango']
List after manipulation = ['Cherry', 'Banana', 'Mango']

In [36]:
#Point 5
list_list = [ "Apple", "Banana", "Mango", "Apple", "Apple" ]
list_list

['Apple', 'Banana', 'Mango', 'Apple', 'Apple']

List Slicing/Indexing

In [39]:
list1 = [ "Apple", "Banana", "Mango", "Cherry", "Peach", 
        "Watermelon", "Muskmelon", "Orange", "Strawberry", 
        "Pineapple", "Pomegranate", "Grape", "Kiwi" ]

#indexing starts from 0 i.e., the element at position 1 will have index 0 and element at position n will have index n-1
#indexing starts from 0 i.e., the element at index 0 will have position 1 and element at index n will have position n+1
#space is also a item
print( list1[0] ) #this will give the first item of the list
print( list1[4] ) #this will give the 5th item of the list 
print( list1[-1] ) #this will give the last item of the list
print( list1[-5] ) #this will give the 5th last item of the list

#Slicing
print( list1[4:8] ) #this will print all the items between starting index i.e., 4 & end index - 1 i.e., 7, which means
#items at index 4, 5, 6, 7 will be printed 
print( list1[7:12] ) #this will print all the items at index 7, 8, 9, 10, 11
print( list1[5:] ) #this will print all the items from index 5 to end index
print( list1[:9] ) #this will print all the items from starting index to 8
print( list1[-5:-2] )#this will print item from last 5th position till last 3rd position i.e., 
#you'll get items from -5, -4, -3
print( list1[::-1] ) #this will reverse the list

Apple
Peach
Kiwi
Strawberry
['Peach', 'Watermelon', 'Muskmelon', 'Orange']
['Orange', 'Strawberry', 'Pineapple', 'Pomegranate', 'Grape']
['Watermelon', 'Muskmelon', 'Orange', 'Strawberry', 'Pineapple', 'Pomegranate', 'Grape', 'Kiwi']
['Apple', 'Banana', 'Mango', 'Cherry', 'Peach', 'Watermelon', 'Muskmelon', 'Orange', 'Strawberry']
['Strawberry', 'Pineapple', 'Pomegranate']
['Kiwi', 'Grape', 'Pomegranate', 'Pineapple', 'Strawberry', 'Orange', 'Muskmelon', 'Watermelon', 'Peach', 'Cherry', 'Mango', 'Banana', 'Apple']

Functions in list

In [47]:
#Add a single item in a list at end
list1 = [ "Apple", "Banana", "Mango", "Cherry", "Peach"]
list1.append("Kiwi")
list1

['Apple', 'Banana', 'Mango', 'Cherry', 'Peach', 'Kiwi']

In [41]:
#Add a multiple item in a list at end
list1 = [ "Apple", "Banana", "Mango", "Cherry", "Peach"]
list2 = [ "Kiwi", "Orange", "Grapes" ]
list1.extend(list2)

list1

['Apple', 'Banana', 'Mango', 'Cherry', 'Peach', 'Kiwi', 'Orange', 'Grapes']

In [51]:
#Add a single item anywhere in a list 
list1 = [ "Apple", "Banana", "Mango", "Cherry", "Peach"]
list1.insert(3, "Kiwi")
list1

['Apple', 'Banana', 'Mango', 'Kiwi', 'Cherry', 'Peach']

In [45]:
#Count the number of occurences of a value/item

list1 = [ "Apple", "Banana", "Mango", "Apple", "Apple"]
list1.count("Apple")

3

In [50]:
#Find the first index of an item

list1 = [ "Apple", "Banana", "Mango", "Cherry", "Peach"]
list1.index( "Cherry" )

3

In [55]:
#To delete an element from a specific index

list1 = [ "Apple", "Banana", "Mango", "Cherry", "Peach"]

list1.pop(2) #if no index is mentioned then last element will be removed
print(list1)

['Apple', 'Banana', 'Cherry', 'Peach']

In [56]:
#To delete a specific item from a list when that item is present only one time

list1 = [ "Apple", "Banana", "Mango", "Cherry", "Peach"]

list1.remove("Apple")
list1

['Banana', 'Mango', 'Cherry', 'Peach']

In [58]:
#To delete a specific item from a list when that item is present multiple times

list1 = [ "Apple", "Banana", "Mango", "Cherry", "Apple"] 

list1.remove("Apple") #this will remove the first occurence only
list1

['Banana', 'Mango', 'Cherry', 'Apple']

In [59]:
#to find the number of items in a list

list1 = [ "Apple", "Banana", "Mango", "Cherry", "Apple"] 

len(list1)

5

In [62]:
#Following functions are specific to numerical list

list1 = [ 1, 2, 3, 4, 5, 6, 7, 8 ]

sum(list1) #this will return sum of all items in a list
max(list1) #this will return maximum of all items in a list
min(list1) #this will return minimum of all items in a list

1

Tuple

1. Tuple - is one of the 4 bulit in dataypes that is used to store multiple items in a single variable or used to store collection of data
2. Tuple can store any type of data in it or mixed datatypes as well
3. Tuple is ordered.
4. Tuple is immutable i.e., we can't manipulate the items in the Tuple once declared
5. Tuple allows duplicate items in it

In [68]:
#these points are common to both list and tuple

#Point 1
fruits = ( "Apple", "Banana", "Mango" )

#Point 2
int_tuple = ( 1, 2, 3, 4, 5, 6 )
float_tuple = ( 12.5, 2.5, 5.7, 6.9, 6.3 )
list_tuple = ( "Apple", "Banana", "Mango" )
mixed_tuple = ( 1, 3, 5, 6.7, 8.9, 9.1, "Mango", "Banana", True )

#Point 3
ord_tuple = ( 6, 7, 2, "Apple", "Banana" )

#Point 5
tuple1 = [ "Apple", "Banana", "Mango", "Apple", "Apple" ]
tuple1

['Apple', 'Banana', 'Mango', 'Apple', 'Apple']

In [71]:
grocery = [ "Milk", "Rice", "Pulses", "Cheese" ]
grocery[1] = "Wheat Flour"
grocery

['Milk', 'Wheat Flour', 'Pulses', 'Cheese']

In [69]:
#The following point is not common to both list and tuple

#Point 4
tuple1 = ( "Apple", "Banana", "Mango" )

print(f"Tuple before manipulation = {tuple1}")
tuple1[0] = "Cherry"  #this will throw an error as we are trying to manipulate the tuple which is not possible

print(f"Tuple after manipulation = {tuple1}")

Tuple before manipulation = ('Apple', 'Banana', 'Mango')

TypeError: 'tuple' object does not support item assignment

In [73]:
#manipulate the tuple

tuple1 = ( "Apple", "Banana", "Mango" )

print(f"Tuple before manipulation -> {tuple1} and type -> {type(tuple1)}")

tuple1 = list( tuple1 ) #converting the tuple to list

print(f"Type of tuple1 in between the process -> {type(tuple1)}")
tuple1[0] = "Cherry"  #this will not throw an error as we are trying to manipulate the list instead of a tuple

tuple1 = tuple(tuple1) #converting back the list to tuple

print(f"Tuple after manipulation -> {tuple1} and type -> {type(tuple1)}")

Tuple before manipulation -> ('Apple', 'Banana', 'Mango') and type -> <class 'tuple'>
Type of tuple1 in between the process -> <class 'list'>
Tuple after manipulation -> ('Cherry', 'Banana', 'Mango') and type -> <class 'tuple'>